# ==================================================================
#                  Kaguya UserBot Configuration Template
# ==================================================================
#
# Скопируй и переименуй этот файл в ".env", заполни свои ключи.
# Получить API_ID и API_HASH можно на сайте https://my.telegram.org/
# ==================================================================

API_ID=
API_HASH=